.minha-classe-img { 
    height: 200px;
    object-fit: cover;
}

@media (max-width:768px) {
    .minha-classe-img {
        height: 150px;
    }
}

.content2 {
    margin: 50px;
}

.content3 {
    margin: 50px;
}

.content4 {
    background-color: black;
    padding: 50px;
}

.txt-content {
    text-align: center;
}

.botao-enviar {
    margin-top: 10px;
}